@layer primereact;

@import "../node_modules/primeflex/primeflex.css";

@import "primeicons/primeicons.css";

@import "primereact/resources/themes/tailwind-light/theme.css";

body {
  background-color: var(--gray-100);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.category .p-dialog-header {
  padding: 0.5rem ;
}

 .category .p-autocomplete-multiple-container {
  width: 100%;
}

.p-dialog-header {
  padding: 1rem;
}

.p-menubar {
  padding: 0.2rem;
}

.p-card-content {
  padding: 1rem 0 1rem 0;
}

.p-card-footer {
  padding: 0;
}

.p-tooltip-text {
  font-size: 0.8rem !important;
  padding: 0.5rem;
  background-color: var(--gray-800);
  opacity: 0.8;
}
